<button
    @onclick:stopPropagation
    @onclick="OnClick"
    type="button"
    primary="@Primary"
    disabled="@Disabled"
    title="@Hint"
    id="@Id"
    class="button"
    aria-selected="@Aria.Selected(Selected)">

    <Icon Name="@Icon" />

    <span>@ChildContent</span>

</button>