@inherits FieldBase<DateOnly?>

<div class="date-picker" @onclick="ClickPicker">
    <div class="date-picker__actions">
        <section>
            <Icon Name="arrow_back_ios" OnClick="PreviousMonth" id="@(Id + "__previous-month")" />
            <div class="date-picker__toggle" tabindex="0" role="button" selected="@_isMonthsVisible" @onclick="ToggleMonths" @onclick:stopPropagation>
                @Month.ToString("MMM").ToTitleInvariant()
                <Icon Name="arrow_drop_down" Size="1.4em" />
            </div>
            <Icon Name="arrow_forward_ios" OnClick="NextMonth" />
        </section>

        <section>
            <Icon Name="arrow_back_ios" OnClick="PreviousYear" />
            <div class="date-picker__toggle" tabindex="0" role="button" selected="@_isYearsVisible" @onclick="ToggleYears" @onclick:stopPropagation>
                @Month.ToString("yyyy")
                <Icon Name="arrow_drop_down" Size="1.4em" />
            </div>
            <Icon Name="arrow_forward_ios" OnClick="NextYear" />
        </section>
    </div>
    <Collapse Expanded="_isDatesVisible">
        <div class="date-picker__dates">
            @for (var i = 0; i < 7; i++)
            {
                var day = _startDay.AddDays(i).ToString("dddd").ToTitleInvariant();
                <div class="date-picker__day-title" title="@day">
                    @day[0]
                </div>
            }
            @for (var i = 0; i < _dayCount; i++)
            {
                var date = _startDay.AddDays(i);
                <div class="date-picker__date" id="@GetDateId(date)" tabindex="0" title="@GetDateTitle(date)" outside="@(date.Month != Month.Month)" today="@(date == _today)" @onclick="() => ClickDate(date)" selected="@IsDateSelected(date)">
                    @date.Day
                </div>
            }
        </div>
    </Collapse>
    <Collapse Expanded="_isMonthsVisible">
        <div class="date-picker__months">
            @for (var i = 1; i <= 12; i++)
            {
                var date = new DateOnly(Month.Year, i, 1);
                <div class="date-picker__month" id="@GetMonthId(date)" tabindex="0" title="@(date.ToString("MMMM yyyy").ToTitleInvariant())" today="@(date.Month == _today.Month)" @onclick="() => ClickMonth(date)">
                    @date.ToString("MMMM").ToTitleInvariant()
                </div>
            }
        </div>
    </Collapse>
    <Collapse Expanded="_isYearsVisible">
        <div class="date-picker__years">
            @for (var i = 0; i < 15; i++)
            {
                var date = Month.GetStartOfDecade().AddYears(i).AddMonths(Month.Month - 1);
                <div class="date-picker__year" id="@GetYearId(date)" tabindex="0" title="@(date.ToString("yyyy"))" today="@(date.Year == _today.Year)" @onclick="() => ClickMonth(date)">
                    @date.ToString("yyyy")
                </div>
            }
        </div>
    </Collapse>
</div>