<button
    @onclick:stopPropagation
    @onclick="@OnClick"
    type="button"
    disabled="@Disabled"
    title="@Tooltip"
    id="@Id"
    class="icon-button">

    <Icon Name="@Icon" />

</button>