<header class="top-app-bar" primary="@Primary" raised="@Raised">
    <section class="top-app-bar__left">@Left</section>
    <section class="top-app-bar__title">@Title</section>
    <section class="top-app-bar__right">@Right</section>

    @if (Details is not null)
    {
        <Collapse Expanded="Expanded">
            <section class="app-bar__content">@Details</section>
        </Collapse>
    }
</header>