<div role="textbox" class="text-field" empty="@Empty" disabled="@Disabled" @onclick="HandleClick" @onkeydown="HandleKeyDown" id="@Id" focused="@ForceFocused" invalid="@Invalid">
    @if (string.IsNullOrWhiteSpace(Label) is false)
    {
        <label for="@ValueId">@Label</label>
    }

    @ChildContent
</div>